
  
  .container2 {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    color: white;
  }
  
  .item {
    width: inherit;
    height: inherit;
    background: rgb(16, 153, 233);
    transform-origin: 50% 100%;
  }

  #content-nosotros{
    overflow: hidden;
  }

  #content-nosotros::before{
    /* background-color: #ffffff; */
    background-image: url('../img/aboutmee.svg');
    background-repeat: cover;
    background-size: cover;
    /* background-size: 60%; */
    
    margin: 40px;
    content:"";
    position: fixed;
    top: 0;
    left: -700px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
  }


  