#scroll-y{
    overflow-y: scroll;
    background-color: rgba(82, 82, 82, 0.534);
}

#scroll-y::-webkit-scrollbar{
    width:  0.5rem;
}
#scroll-y::-webkit-scrollbar-track{
    background-color: rgb(224, 224, 224);
}

#scroll-y::-webkit-scrollbar-thumb{
    background-color: rgb(94, 93, 93);
}

.content-modal-detail{
    display: flex ;
    align-items: center !important;
}